.contatos {
    background-color: white;
    padding: 1em;
}

.contato_titulo {
    color: rgb(0, 0, 87);
    font-size: 34px;
    text-align: center;
    font-weight: 700;

}

.contato_texto {
    font-weight: 300;
    font-size: 19px;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 20px;
}

.contato_email {
    padding: 1em;
    border: 2px solid rgb(0, 0, 87);
    border-radius: 30px;
    width: 90%;
    color: rgb(0, 0, 87);
}

.contato_email::placeholder {
    color: rgb(0, 0, 87);
    background-image: url(../Img/Email.svg);
    background-repeat: no-repeat;
    padding-left: 2em;
}